videos/
.idea/
.DS_Store
src/utils/__pycache__
figures/
*.pyc
*.mpg
*.jpeg
*.eps
*.zip
*.jpg
*.h5
*.ckpt
*.mp4
thresh_on_color_one_line_avg/
saved_images/
CUS/
evaluation/
*.xls
database/
kfs/
cached_cnn_vects/
request_videos/
new_db
