gunicorn
absl-py
astor
certifi
chardet
cycler
gast
grpcio
h5py
idna
joblib
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
opencv-python
Pillow
protobuf
pyparsing
PyYAML
scikit-learn
scipy
six
sklearn
slim
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor
torch
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision
--find-links https://download.pytorch.org/whl/torch_stable.html
urllib3
Werkzeug
wrapt
scikit-image
urllib3
pyclustering
